.main-template {
  .main-header {
    width: 100%;
    height: 65px;
    background-color: $app-color;
    position: sticky;
    top: 0;
    z-index: 9000;
    padding: 20px 60px;
    .app-name {
      font-size: 1.4rem;
      font-weight: 500;
      color: white;
      display: flex;
      align-items: center;
      letter-spacing: 1.2px;
    }
  }
  .main-footer {
    .app-footer {
      padding: 4em !important;
      margin-top: 30px !important;
      background-color: $app-color;
    }
  }
}